@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

h2{
    text-align: center;
    font-weight: bold;
}
p {
     border-bottom: 1px solid lightskyblue;

}
 .calculate button{
    padding-top: 10px;
    width: 100%;
    margin-top: 20px;
    
}
.calculate button:hover{
    background-color: rgb(231, 141, 30);
}
body{
    
    font-family: Roboto;
    background-color: aqua;

}
#container{
    height: 100vh;
    margin: auto;
    justify-content: center;
    display: flex;
    width: 95%;
    align-items: center;

}
.main {
    width: 400px;
    background: whitesmoke;
    border: 1px solid black;
    
    margin: 50px;
    height: 50vh;
    
}
.details{
    text-align: center;
    margin: auto;
}